/* The Modal (background) */
#top20Table th:nth-child(1) td:nth-child(1) {
    text-align: left;
}

.modal-header {
  color: black;
  padding: 5px;
}

.modal-title {
  padding-left: 15px;
  text-align: center;
  font-size: 2rem;
}

@media (min-width: 992px) {
  .modal-header {
  color: black;
  padding: 10px;
  }
  .modal-title {
  padding-left: 15px;
  text-align: center;
  font-size: 3rem;
  }
}

@media (min-width: 1350px) {
  .modal-header {
  color: black;
  padding: 20px;
  }
  .modal-title {
  padding-left: 15px;
  text-align: center;
  font-size: 3.2rem;
  }
}

.modal-content {
  color: black;
}

.wineTableInfo {
  color: black;
}

.wineTableInfo td {
  color: black;
  text-align: left;
}

/* Modal Content */
