---
layout: default
title: 100 Value Point
description: 
---

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">100ValuePoint</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">A good wine deserves more.</h2>
        <!-- <a href="#about" class="btn btn-primary js-scroll-trigger">About the System</a> -->
      </div>
    </div>
  </header>

  <!-- About Section -->
  {% include about.html %}
  {% include taster.html %}

  <!-- Top20 Section -->
  {% include top20.html %}

  <!-- Our Wine Section -->
  {% include winesidemenu.html %}
  <!-- Signup Section -->
  {% include signup.html %}

  <!-- Contact Section -->
  {% include contact.html %}

