---
layout: default
title: 100 Value Point
description: 
---

<p id="wineid"></p>
{% for vintage in site.data.vintages %}{% if vintage.id == "wineid" %}
	<li class="item"><a href="{{ site.url }}{{ vintage.location }}" target="_blank">{{ vintage.year }}</a></li>
{% endif %}{% endfor %}

<script type="text/javascript">
	currenturl = window.location.href;
	let searchParams = new URLSearchParams(currenturl.split('?')[1]);
	document.getElementById("wineid").innerHTML = searchParams.get('id');
</script>

<!--<script type="text/javascript">
	getParameterByName = function(url, name) {
 		if ("URLSearchParams" in window) {
  		//Browser supports URLSearchParams
  		let searchParams = new URLSearchParams(url.split('?')[1]);
  		//return searchParams.get(name);
  		return searchParams.get(name)
 	} else {
  		document.write(
   		"Your browser currently doesn't support URLSearchParams. Switch to another browser."
  		);
  		return null;
 	}
	};
</script>
-->