<section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">100 Value Point At A Glance</h2>
          <p class="text-white mb-4">
            <ol>
              <li>WINES: We accept wines for every type of winery – big or big or small, famous or little-known.</li>
              <li>TASTE: A panel of expert wine tasters taste each wine, then score it and write a tasting note.</li>
              <li>WINES: We accept wines for every type of winery – big or big or small, famous or little-known.</li>
              <li>TASTE: A panel of expert wine tasters taste each wine, then score it and write a tasting note.</li>
              <li>WINES: We accept wines for every type of winery – big or big or small, famous or little-known.</li>
              <li>TASTE: A panel of expert wine tasters taste each wine, then score it and write a tasting note.</li>
              <li>TASTE: A panel of expert wine tasters taste each wine, then score it and write a tasting note.</li>
              <li>TASTE: A panel of expert wine tasters taste each wine, then score it and write a tasting note.</li>
            </ol>
          </p>
        </div>
      </div>
      <!--<img src="img/ipad.png" class="img-fluid" alt="">-->
    </div>
  </section>