<section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          	<h2 class="text-white mb-4">100 Value Point At A Glance</h2>
          	<div class="text-center">
          		<img class="responsive" src="img/winetaster.png" alt="">
        	</div>
        </div>
    </div>
    <div class="row">
        <div class="flex-container">
        	<div><h1>1. Register</h1>
        		<p><br>Register via online form or emailing of form before dateline.</br>
        		<br><b>Participating fee: 100 Euro per wine</b></br>
        		<br>Registration is successful only after you receive the confirmation email and delivery label.</br></p>
          </div>
        	<div><h1>2. Samples Reception</h1>
            <p><br>Samples must be sent to designated address before dateline.</br>
              <br>Requirement:</br>
              <br><b>Only applicable to bottled wines, 2 bottles per registered wine with technical sheets.</b></br>
            </p>
          </div>
        	<div><h1>3. Tasting of wines</h1><p>The 3 tasting panel will taste the wines together. Different vintage will be tasted on different days.</p></div>
        	<div><h1>4. Organiser receives reports</h1><p>The 3 tasting panel will submit their completed reports to the organiser <b>within 1 week from the tasting period.</b></p></div>
        	<div><h1>5. Results</h1><p>Announcement of results via online and Email. Results will be uploaded by organiser <b>within 1 week from reception of reports.</b></p></div>
        </div>
    </div>
      <!--<img src="img/ipad.png" class="img-fluid" alt="">-->
    </div>
</section>