<link href="css/winemodal.css" rel="stylesheet">
<script src="js/winemodal.js"></script>
<script type="text/javascript">
	var jsonObj = JSON.parse('{{ site.data.vintages | jsonify }}');
	function displayWineByCategory(category, categoryvalue) {
		var parentDiv = document.getElementById('winesDiv');
		parentDiv.innerHTML = '';
		
		// var resultTable = document.createElement("table");
		// resultTable.setAttribute("class","result-table");
		var innerHTML = '<table class="result-table">';
		innerHTML += '<tr><th>Wine Name</th><th>Vintage</th><th>Value Point</th></tr>';

		for (var i = 0; i < jsonObj.length; i++) {
			if (jsonObj[i][category] == categoryvalue) {
				var param = jsonObj[i].title + "','" + '{{ site.url }}' + jsonObj[i].valuepointimage + "','" + '{{ site.url }}' + jsonObj[i].image + "','" + jsonObj[i].vintage + "','" + jsonObj[i].producer + "','" + jsonObj[i].country + "','" + jsonObj[i].region + "','" + jsonObj[i].subregion + "','" + jsonObj[i].tastingnotes;
				innerHTML += '<tr>';
				innerHTML += '<td><a data-toggle="modal" href="#wineModal" onClick="displayWineInfo(\'' + param + '\')">' + jsonObj[i].title + '</a>';
				innerHTML += '<div id="wineModal" class="modal fade" role="dialog">';
        		innerHTML += '<div class="modal-dialog modal-lg">';
        		innerHTML += '<div id="wineModalContent" class="container modal-content">';
        		innerHTML += '</div></div></div></td>';
				innerHTML += '<td>' + jsonObj[i].vintage + '</td>';
				innerHTML += '<td>' + jsonObj[i].valuepoint + '</td>';
				innerHTML += '</tr>';
			}
		}
		innerHTML += '</table>';
		//alert(innerHTML);
		//parentDiv.appendChild(resultTable);
		parentDiv.innerHTML = innerHTML;
	}
</script>

<section id="ourwine" class="ourwine-section bg-light">
    <div class="container">
    	<div class="row">
    		<div class="col-lg-4 mx-auto">
        		<table class="category-table">
        			<tr><th>By Value Point</th></tr>
      				{% assign wines = site.data.vintages | map: 'valuepointrange' | uniq | sort | reverse %}
        			{% for wine in wines %}
        			<tr>
      					<td><a href="#winesDiv" onClick="displayWineByCategory('valuepointrange','{{ wine }}')">{{ wine }}</a></td>
      				</tr>
        			{% endfor %}
        		</table>
        	</div>
        	<div class="col-lg-4 mx-auto">
        		<table class="category-table">
        			<tr><th>By Price Range</th></tr>
        			{% assign wines = site.data.vintages | map: 'pricerange' | uniq | sort %}
        			{% for wine in wines %}
        			<tr>
      					<td><a href="#winesDiv" onClick="displayWineByCategory('pricerange','{{ wine }}')">{{ wine }}</a></td>
      				</tr>
        			{% endfor %}
        		</table>
        	</div>
        	<div class="col-lg-4 mx-auto">
        		<table class="category-table">
        			<tr><th>By Producer</th></tr>
        			{% assign wines = site.data.vintages | map: 'producer' | uniq | sort %}
        			{% for wine in wines %}
        			<tr>
      					<td><a href="#winesDiv" onClick="displayWineByCategory('producer','{{ wine }}')">{{ wine }}</a></td>
      				</tr>
        			{% endfor %}
        		</table>
        	</div>
      	</div>
        <div class="row">
          <div class="col-lg-4 mx-auto">
            <table class="category-table">
              <tr><th>By Country</th></tr>
              {% assign wines = site.data.vintages | map: 'country' | uniq | sort %}
              {% for wine in wines %}
              <tr>
                <td><a href="#winesDiv" onClick="displayWineByCategory('country','{{ wine }}')">{{ wine }}</a></td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <div class="col-lg-4 mx-auto">
            <table class="category-table">
              <tr><th>By Region</th></tr>
              {% assign wines = site.data.vintages | map: 'region' | uniq | sort %}
              {% for wine in wines %}
              <tr>
                <td><a href="#winesDiv" onClick="displayWineByCategory('region','{{ wine }}')">{{ wine }}</a></td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <div class="col-lg-4 mx-auto">
            <table class="category-table">
              <tr><th>By Wine Style</th></tr>
              {% assign wines = site.data.vintages | map: 'category' | uniq | sort %}
              {% for wine in wines %}
              <tr>
                <td><a href="#winesDiv" onClick="displayWineByCategory('category','{{ wine }}')">{{ wine }}</a></td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
    </div>
    <div id="winesDiv" class="container"></div>
</section>