<section id="search" class="search-section bg-black">
 	<link href="css/winemodal.css" rel="stylesheet">
	<div class="container d-flex h-100 align-items-center">
      	<div class="mx-auto text-center">
			<form class="form-inline d-flex" action="{{ site.url }}/search.html" method="get">
				<!--<h2 class="text-white mb-5"><label for="search-box">Search</label></h2>-->
				<input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="search-box" name="query">
				<button type="submit" class="btn btn-primary mx-auto" value="search">Search</button>
			</form>
		</div>
	</div>

	<div class="result-table">
		<ul id="search-results"></ul>
	</div>

	{% include social.html %}

	<script>
		window.store = {
			{% for vintage in site.data.vintages %}
			"{{ vintage.id }}": {
				"id": "{{ vintage.id | xml_escape }}",
				"title": "{{ vintage.title | xml_escape }}",
				"vintage": "{{ vintage.vintage | xml_escape }}",
				"category": "{{ vintage.category | xml_escape }}",
				"producer": "{{ vintage.producer | xml_escape }}",
				"country": "{{ vintage.country | xml_escape }}",
				"region": "{{ vintage.region | xml_escape }}",
				"subregion": "{{ vintage.subregion | xml_escape }}",
				"grapevariety": "{{ vintage.grapevariety | xml_escape }}",
				"valuepoint": "{{ vintage.valuepoint | xml_escape }}",
				"tastingnotes": "{{ vintage.tastingnotes | xml_escape }}",
				"image": "{{ vintage.image | xml_escape }}"
			}
			{% unless forloop.last %},{% endunless %}
			{% endfor %}
		};
		
		function displayWineInfo(wineTitle, wineImage, wineVintage, wineProducer, wineCountry, wineRegion, wineSubRegion, wineTastingNotes) {
			var parentDiv = document.getElementById("wineModalContent");
			parentDiv.innerHTML = "";
			var headerDiv = document.createElement("div");

			headerDiv.setAttribute("class","modal-header");
			headerDiv.innerHTML="<h4 class='modal-title'>" + wineTitle +
			"</h4><button type='button' class='close' data-dismiss='modal'>&times;</button>";

			parentDiv.appendChild(headerDiv);

			var rowDiv = document.createElement("div");
			rowDiv.setAttribute("class","modal-body row");

			var bodyImgDiv = document.createElement("div");
			bodyImgDiv.setAttribute("class","col-sm-4");
			bodyImgDiv.innerHTML="<img src=" + "{{ site.url }}/" + wineImage + " style='width:120px;height:auto;'>";
			// bodyDiv.innerHTML += "<p>Vintage:" + wineVintage + "</p>";

			rowDiv.appendChild(bodyImgDiv);

			var bodyTxtDiv = document.createElement("div");
			bodyTxtDiv.setAttribute("class","col-sm-8");
			var bodyTable = document.createElement("table");
			bodyTable.setAttribute("class","wineTableInfo");
			bodyTable.innerHTML = "<tr><td>Vintage:</td><td>" + wineVintage + "</td></tr>"
			bodyTable.innerHTML += "<tr><td>Producer:</td><td>" + wineProducer + "</td></tr>"
			bodyTable.innerHTML += "<tr><td>Country:</td><td>" + wineCountry + "</td></tr>"
			bodyTable.innerHTML += "<tr><td>Region:</td><td>" + wineRegion + "</td></tr>"
			bodyTable.innerHTML += "<tr><td>Sub Region:</td><td>" + wineSubRegion + "</td></tr>"
			bodyTable.innerHTML += "<tr><td>Tasting Notes:</td><td>" + wineTastingNotes + "</td></tr>"
			
			bodyTxtDiv.appendChild(bodyTable);

			rowDiv.appendChild(bodyTxtDiv);

			parentDiv.appendChild(rowDiv);

		}

	</script>
	<!-- <script src="js/winemodal.js"></script> -->
	<script src="js/lunr.min.js"></script>
	<script src="js/search.js"></script> 


</section>