<section id="taster" class="about-section text-center">
    <div class="container">
      <div class="row">
      	<div class="col-lg-4 mx-auto">
      		<img class="responsive" src="img/MattJukes.jpg" alt="">
      	</div>
      	<div class="col-lg-8 mx-auto">
      		<h2>Matthew Jukes</h2>
      		<p>Matthew Jukes has worked in the wine business for well over 30 years. With experience in all sectors of the industry he has been writing about wine for two decades and during this time has penned fourteen wine books.</p>
      		<p>One of the world's leading experts on Australian wine, each he takes a selection of 100 Best Australian Wines on a Roadshow around the UK and also to China. He also runs an annual competition in Australia to find 'The Great Australian Red', the ultimate Cabernet Sauvignon/Shiraz wines in the country which he describes as 'the blend that defines Australia'.</p>
      		<p>Matthew regularly runs masterclass tastings and dinners for corporate clients (including Credit Suisse, Rothschild & Co, Coutts and KPMG) and also private clients all over the world. Matthew has written a highly acclaimed, weekly article for MoneyWeek since 2006 and also a weekly column for the Daily Mail's Weekend Magazine for twenty years. With over 9 million Daily Mail readers a week, Matthew has the most keenly followed wine column in the UK. Matthew was made Honorary Australian of the Year in the UK at the 2012 Australia Day Foundation Gala dinner. He joins an eminent list of previously appointed Honorary Australians, including Lord Carrington, Sir Robert Wilson, Baroness Greenfield and Sir David Attenborough.</p>
      		<p>Matthew's wine recommendations and tastings notes are followed very closely by the wine world at large.</p>
      	</div>
      </div>
  </div>
</section>