<section id="top20" class="top20-section bg-light">
  <link href="css/winemodal.css" rel="stylesheet">
    <div class="container d-flex h-100 align-items-center">
    	<div class="mx-auto text-center">
        	<table class="result-table">
        		<tr>
      				<th>Wine Name</th>
      				<th>Vintage</th>
      				<th>Value Point</th>
      			</tr>
      			{% assign wines = site.data.vintages | sort: 'valuepoint' | reverse %}
        		{% for wine in wines limit:20 %}
        		<tr>
      				<td><a data-toggle="modal" href="#wineModal" onClick="displayWineInfo('{{ wine.title }}','{{ site.url }}{{ wine.valuepointimage }}','{{ site.url }}{{ wine.image }}','{{ wine.vintage }}','{{ wine.producer }}','{{ wine.country }}','{{ wine.region }}','{{ wine.subregion }}','{{ wine.tastingnotes }}')">{{ wine.title }}</a>
                <div id="wineModal" class="modal fade" role="dialog">
                  <div class="modal-dialog modal-lg">
                    <div id="wineModalContent" class="container modal-content">
                    </div>
                  </div>
                </div>
              </td>
      				<td>{{ wine.vintage }}</td>
      				<td>{{ wine.valuepoint }}</td>
      			</tr>
        		{% endfor %}
        	</table>
      	</div>
    </div>
    <script src="js/winemodal.js"></script>
</section>