<link rel="stylesheet" href="css/jquery.dataTables.min.css">
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>

<section id="top20" class="top20-section bg-light">
  <link href="css/winemodal.css" rel="stylesheet">
    <div class="container d-flex h-100 align-items-center">
    	<div class="mx-auto text-center table-responsive">
        	<table id="top20Table" class="display table">
            <thead>
        		  <tr>
                <th></th>
      				  <th>Wine Name</th>
      				  <th>Vintage</th>
      				  <th>Value Point</th>
      			  </tr>
            </thead>
            <tbody>
      			{% assign wines = site.data.vintages | sort: 'valuepoint' | reverse %}
        		{% for wine in wines limit:20 %}
              <tr>
                <td>{{ forloop.index }}</td>
      				  <td><a data-toggle="modal" href="#wineModal" onClick="displayWineInfo('{{ wine.title }}','{{ site.url }}{{ wine.valuepointimage }}','{{ site.url }}{{ wine.image }}','{{ wine.vintage }}','{{ wine.producer }}','{{ wine.country }}','{{ wine.region }}','{{ wine.subregion }}','{{ wine.tastingnotes }}','{{ wine.producerlink }}')">{{ wine.title }}</a>
                  <div id="wineModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                      <div id="wineModalContent" class="container modal-content">
                      </div>
                    </div>
                  </div>
                </td>
      				  <td>{{ wine.vintage }}</td>
      				  <td>{{ wine.valuepoint }}</td>
      			  </tr>
        		{% endfor %}
          </tbody>
        	</table>
          <script>
            $(document).ready(function(){
              $('#top20Table').dataTable({
                "lengthChange": false,
                "ordering": false,
                "searching": false,
                "info": false,
                "pagingType": "simple"
              });
            });
          </script>
      	</div>
    </div>
    <script src="js/winemodal.js"></script>
    
</section>