<section id="top20" class="top20-section bg-light">
    <div class="container d-flex h-100 align-items-center">
    	<div class="mx-auto text-center">
        	<table class="result-table">
        		<tr>
      				<th>Wine Name</th>
      				<th>Vintage</th>
      				<th>Value Point</th>
      			</tr>
      			{% assign wines = site.data.vintages | sort: 'valuepoint' | reverse %}
        		{% for wine in wines limit:20 %}
        		<tr>
      				<td>{{ wine.title }}</td>
      				<td>{{ wine.vintage }}</td>
      				<td>{{ wine.valuepoint }}</td>
      			</tr>
        		{% endfor %}
        	</table>
      	</div>
    </div>
</section>