<link href="css/sidenav.css" rel="stylesheet">
<link href="css/winemodal.css" rel="stylesheet">
<link rel="stylesheet" href="css/jquery.dataTables.min.css">
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script src="js/winemodal.js"></script>
<script type="text/javascript">
	var jsonObj = JSON.parse('{{ site.data.vintages | jsonify }}');

	/*function displayWineByCategory(category, categoryvalue) {
		var parentDiv = document.getElementById('winesDiv');
		parentDiv.innerHTML = '';
		
		// var resultTable = document.createElement("table");
		// resultTable.setAttribute("class","result-table");
		var innerHTML = '<table id="ourwines" class="display table">';
		innerHTML += '<thead>';
		innerHTML += '<tr><th>Wine Name</th><th>Vintage</th><th>Value Point</th></tr></thead>';
		innerHTML += '<tbody>';

		for (var i = 0; i < jsonObj.length; i++) {
			if (jsonObj[i][category] == categoryvalue) {
				var param = jsonObj[i].title + "','" + '{{ site.url }}' + jsonObj[i].valuepointimage + "','" + '{{ site.url }}' + jsonObj[i].image + "','" + jsonObj[i].vintage + "','" + jsonObj[i].producer + "','" + jsonObj[i].country + "','" + jsonObj[i].region + "','" + jsonObj[i].subregion + "','" + jsonObj[i].tastingnotes + "','" + jsonObj[i].producerlink;
				innerHTML += '<tr>';
				innerHTML += '<td><a data-toggle="modal" href="#wineModal" onClick="displayWineInfo(\'' + param + '\')">' + jsonObj[i].title + '</a>';
				innerHTML += '<div id="wineModal" class="modal fade" role="dialog">';
        		innerHTML += '<div class="modal-dialog modal-lg">';
        		innerHTML += '<div id="wineModalContent" class="container modal-content">';
        		innerHTML += '</div></div></div></td>';
				innerHTML += '<td>' + jsonObj[i].vintage + '</td>';
				innerHTML += '<td>' + jsonObj[i].valuepoint + '</td>';
				innerHTML += '</tr>';
			}
		}
		innerHTML += '</tbody></table>';

		//alert(innerHTML);
		//parentDiv.appendChild(resultTable);
		parentDiv.innerHTML = innerHTML;
	}*/
	function displayWineByCategory(category, categoryvalue) {
		$("#ourwines").DataTable().clear();
		for (var i = 0; i < jsonObj.length; i++) {
			if (jsonObj[i][category] == categoryvalue) {
				var param = jsonObj[i].title + "','" + '{{ site.url }}' + jsonObj[i].valuepointimage + "','" + '{{ site.url }}' + jsonObj[i].image + "','" + jsonObj[i].vintage + "','" + jsonObj[i].producer + "','" + jsonObj[i].country + "','" + jsonObj[i].region + "','" + jsonObj[i].subregion + "','" + jsonObj[i].tastingnotes + "','" + jsonObj[i].producerlink;
				$('#ourwines').dataTable().fnAddData([
					jsonObj[i].title,
					jsonObj[i].vintage,
					jsonObj[i].valuepoint
				]);
			}
		}
	}

	$(function(){
      		$(document).ready(function () {
    			$('[data-toggle=collapse-side]').click(function(e) {
    				$('.side-collapse').toggleClass('open');
  				});
  				$('#ourwines').dataTable({
  					"data": {{ site.data.vintages | jsonify}},
  					"lengthChange": false,
                	"ordering": false,
                	"searching": false,
                	"info": false,
                	"pagingType": "simple",
        			"deferLoading": 0,
                	"columnDefs": [
                		{"defaultContent": "-",
    				 	"targets": 0},
                		{"targets": [0],
                			"data": "title",
                			"title": "Wine Name"
                			/*render: function(data, type, row, meta) {
                			return '<a href="#wineModal" onClick="displayWineInfo(\''+ row.title + '\',' + '\'{{ site.url }}' + row.valuepointimage + '\')">' + data + row.region + '</a><div id="wineModal" class="modal fade" role="dialog"><div class="modal-dialog modal-lg"><div id="wineModalContent" class="container modal-content"></div></div></div>'
                		}*/
                	},
                		{"targets": [1],
                			"data": "vintage",
                			"title": "Vintage"},
                		{"targets": [2],
                			"data": "valuepoint",
                			"title": "Value Point"}
                		// {"mDataProp": "jsonObj.title", "title": "Wine Name"},
                		// {"mDataProp": "vintage", "title": "Vintage"},
                		// {"mDataProp": "valuepoint", "title": "Value Point"},
                		// {"mDataProp": "category", "title": "Category", "visible": false},
                		// {"mDataProp": "producer", "title": "Producer", "visible": false},
                		// {"mDataProp": "country", "title": "Country", "visible": false},
                		// {"mDataProp": "region", "title": "Region", "visible": false},
                		// {"mDataProp": "subregion", "title": "Subregion", "visible": false},
                		// {"mDataProp": "classification", "title": "Classification", "visible": false},
                		// {"mDataProp": "grapevariety", "title": "Grape Variety", "visible": false},
                		// {"mDataProp": "tastingnotes", "title": "Tasting Notes", "visible": false},
                		// {"mDataProp": "zodiac", "title": "Zodiac", "visible": false},
                		// {"mDataProp": "guideprice", "title": "Guide Price", "visible": false},
                		// {"mDataProp": "valuepointrange", "title": "Value Point Range", "visible": false},
                		// {"mDataProp": "valuepointimage", "title": "Value Point Image", "visible": false},
                		// {"mDataProp": "pricerange", "title": "Price Range", "visible": false},
                		// {"mDataProp": "datetasted", "title": "Date Tasted", "visible": false},
                		// {"mDataProp": "producerlink", "title": "Producer Link", "visible": false},
                		// {"mDataProp": "wheretobuy", "title": "Where to Buy", "visible": false},
                		// {"mDataProp": "location", "title": "Location", "visible": false},
                		// {"mDataProp": "image", "title": "Image", "visible": false}
                	 ]
  				});
			});
		});
</script>
<section id="ourwine" class="ourwine-section bg-light">
	<div class="row">
	<nav class="navbar navbar-default sidenav col-sm-2 col-md-2 col-lg-2">
	<div class="container">
		<div class="navbar-default side-collapse open">
			<div class="navbar-collapse">
        		<ul class="nav navbar-nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Value Point</a>
						<ul class="dropdown-menu">
							{% assign wines = site.data.vintages | map: 'valuepointrange' | uniq | sort | reverse %}
	        				{% for wine in wines %}
    	    					<li><a href="#winesDiv" onClick="displayWineByCategory('valuepointrange','{{ wine }}')">{{ wine }}</a></li>
        					{% endfor %}
						</ul>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Price</a>
						<ul class="dropdown-menu">
							{% assign wines = site.data.vintages | map: 'pricerange' | uniq | sort | reverse %}
	    	    			{% for wine in wines %}
    	    					<li><a href="#winesDiv" onClick="displayWineByCategory('pricerange','{{ wine }}')">{{ wine }}</a></li>
        					{% endfor %}
        				</ul>
        			</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wine Style</a>
						<ul class="dropdown-menu">
							{% assign wines = site.data.vintages | map: 'category' | uniq | sort | reverse %}
	        				{% for wine in wines %}
    	    					<li><a href="#winesDiv" onClick="displayWineByCategory('category','{{ wine }}')">{{ wine }}</a></li>
        					{% endfor %}
        				</ul>
        			</li>
					
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Producer</a>
						<ul class="dropdown-menu">
							{% assign wines = site.data.vintages | map: 'producer' | uniq | sort | reverse %}
	        				{% for wine in wines %}
    	    					<li><a href="#winesDiv" onClick="displayWineByCategory('producer','{{ wine }}')">{{ wine }}</a></li>
        					{% endfor %}
						</ul>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Region</a>
						<ul class="dropdown-menu">
							{% assign wines = site.data.vintages | map: 'region' | uniq | sort | reverse %}
	        				{% for wine in wines %}
    	    					<li><a href="#winesDiv" onClick="displayWineByCategory('region','{{ wine }}')">{{ wine }}</a></li>
        					{% endfor %}
        				</ul>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Country</a>
						<ul class="dropdown-menu">
							{% assign wines = site.data.vintages | map: 'country' | uniq | sort | reverse %}
	        				{% for wine in wines %}
    	    					<li><a href="#winesDiv" onClick="displayWineByCategory('country','{{ wine }}')">{{ wine }}</a></li>
        					{% endfor %}
        				</ul>
        			</li>
        		</ul>
			</div>
		</div>
	</div>
</nav>
<!-- <div class="col-sm-1 col-md-1 col-lg-1"></div> -->
<div id="winesDiv" class="col-sm-10 col-md-10 col-lg-10">
	<div class="mx-auto text-center table-responsive">
		<table id="ourwines" class="display table">
			<thead>
				<tr>
					<!-- <th>ID</th> -->
					<th>Wine Name</th>
					<th>Vintage</th>
					<th>Value Point</th>
					<!-- <th>5t</th>
					<th>6</th>
					<th>7</th>
					<th>8</th>
					<th>9</th>
					<th>10</th>
					<th>11</th>
					<th>12</th>
					<th>13</th>
					<th>14</th>
					<th>15</th>
					<th>16</th>
					<th>17</th>
					<th>18</th>
					<th>19</th>
					<th>20</th>
					<th>21</th>
					<th>22</th> -->
				</tr>
			</thead>
		</table>
	</div>
</div>
</div>
</section>